body{
    background:linear-gradient( 90deg, #fcfcda, #ffeebc , #b0f2c2, #c7f6d4);
    

}

marquee.promo,
marquee.material{
    padding: auto;
    color: antiquewhite;
    font-family: Ink Free;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background:linear-gradient( 90deg, #fcfcda, #ffeebc , #b0f2c2, #c7f6d4);
    border: 1px solid rgb(46, 44, 44);
    border-radius: 25px;
    margin-top: 5px;
}

.navbar img{
    border-radius: 50px;
    border:1px solid  black;
}

#carouselExampleControls{
    margin-top: 5px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color:#ffe8a3;
    z-index: 1;
} 
 .overlay .row{
    margin-top: 30px;
}

.overlay h1{
    font-family:Broadway

}
 #nosotros{
    text-align: justify;
    color: rgb(6, 244, 164);
    font-family:Ink Free ;
    font-size: 20px;
 }
  
section{
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 640px) {
    .overlay {
      width: 100%;
      min-width: 100%;
      border-radius: 0;
      height: 100vh;
      position: initial;
      transform: inherit;
      padding: 30px 15px;
    }
  }


